* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: teal;
  color: white;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

a,
i {
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.navbar .nav__logo img {
  width: 60px;
}

.nav__links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__links ul li {
  padding: 8px 12px;
  margin: 2px;
  font-size: 24px;
}

.btn {
  padding: 7px 15px;
  font-size: 20px;
  background-color: white;
  color: rgb(110, 5, 5);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 160px;
}
.btn:hover {
  background-color: rgb(110, 5, 5);
  color: white;
}
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: ;
}
form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

form p {
  display: flex;
  justify-content: space-between;
}

form p:last-child {
  width: 120px;
  margin: 20px 0;
}

form p label {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
