{% extends "base.html" %}

    {% block page__title %}
    Detail About Article
    {% endblock page__title %}

    {% block body %}
    
{% comment %} ?? {% endcomment %}
      {% if messages %} 
      {% for message in messages %} 
        {% if message.tags == "warning" %}
          <div class="alert alert__warning">{{message}}</div>

        {% else  %}
          <div class="alert alert__success">{{message}}</div>

        {% endif %}
      {% endfor %}
    {% endif %}
{% comment %} ?? {% endcomment %}





{% comment %} ************************* {% endcomment %}
<div class="card__detail__contaier">
              <div class="card">
                      {% if article.image %}
                      <img src="{{ article.image.url }}" alt="" />
                      {% else %}
                      <img src=""" alt="" />
                      {% endif %}                    
                      <div class="card__title">{{article.id}}.{{article.title}}</div>
                      <div class="card__content">{{ article.content|safe}}</div>
                      <div class="card__footer">
                      <div class="created__date">{{ article.created_date}}</div>
                        <div class="card__actions">
                            <a href="">
                              <i class="fa-solid fa-trash"></i>
                            </a>
                            <a href="">
                              <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div> 
                    </div>
            </div>
</div>

    
{% comment %} ************************* {% endcomment %}

<div class="comments_section">
  <h3>Comments </h3>
  {% if comments %}
    {% for comment in comments  %}

      <div class="comment_container">  
        <div class="comment_index">
          <p>{{comment.comment_author}}</p>
          <p>{{comment.comment_date}}</p>
          <p>{{comment.comment_content}}</p>
        </div>
        <div class="comment__actions">
          <a href="{% url 'comment-delete' comment.id %}">
            <i class="fa-solid fa-trash"></i>
          </a>
      </div>
        <hr>
      </div>
    
    {% endfor %}
  {% endif %}
</div>

{% comment %} ********************************** {% endcomment %}
<div class="comment_container">
  <form action="{% url 'comment' article.id %}" method="post" class="form__comment">
    {% csrf_token %}

    <div class="form__comment__author">
      <label for="commentAuthor" >Author</label>
      <input type="text" name="comment_author" placeholder="Enter Author Name..." id="commentAuthor">
    </div>

    <div class="form__comment__content">
      <label for="commentContent" >Content Text</label>
      <textarea type="textarea" name="comment_content" placeholder="Enter Content Text..." id="commentContent"></textarea>
    </div>

    <button type="submit" class="comment__btn">Send </button>

  </form>
</div>

    {% endblock body %}