{% extends "base.html" %}
{% load static %}
  {% block page__title %} 
  Our Blogs 
  {% endblock page__title %} 
{% block body %}
  <h1>Our Blogs</h1>

{% comment %} <div class="card_container">
  <ul class="card_lists">
    {% for article in articles %}

    <li class="card">
      <h2 class="card_title">{{article.id}}.{{article.title}}</h2>
      <p class="card_content">{{ article.content|safe}}</p>

      <div class="card_footer">
        <p>{{ article.created_date}}</p>
        <p>{{ article.author}}</p>
      </div>
      <p></p>
    </li>
    {% endfor %}
  </ul>
</div> {% endcomment %}
{% comment %} **************************************** {% endcomment %}

<div class="card__contaier">
      {% for article in articles %}
          <div class="card">
                  {% if article.image %}
                  <img src="{{ article.image.url }}" alt="" />
                  {% else %}
                  <img src=""" alt="" />
                  {% endif %}

                  <div class="card__title">{{article.id}}.{{article.title}}</div>
                  <div class="card__content">{{ article.content|safe}}</div>
                  <div class="card__footer">
                    <div class="created__date">{{ article.created_date}}</div>
                  {% comment %} <div class="created__date">{{ article.created_date}}</div> {% endcomment %}
                    <div class="card__actions">
                      <a href="{% url 'delete-article' article.id %}">
                        <i class="fa-solid fa-trash"></i>
                      </a>
                      <a href="{% url 'update-article' article.id %}">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </a>
                    </div>
                </div>
            </div>
      {% endfor %}
</div>

{% endblock body %}
