{% extends "base.html" %}
{% load static %}
  {% block page__title %} 
  Our Blogs 
  {% endblock page__title %} 
{% block body %}
{% comment %} <div class="search__container"> {% endcomment %}
  <div class="search__form">
    <form method ="post">
      {% csrf_token %}

      <input name ="keyword" type="text" class="input_keyword" placeholder="Search...">
      <button type="sutbmit" class="search__form__btn">Search</button>
    </form>
  </div>
{% comment %} </div> {% endcomment %}

 
{% comment %} **************************************** {% endcomment %}

{% if articles %}
  <div class="card__contaier">
    {% for article in articles %}
      <div class="card">
              {% if article.image %}
              <img src="{{ article.image.url }}" alt="" />
              {% else %}
              <img src=""" alt="" />
              {% endif %}

              <div class="card__title">{{article.id}}.{{article.title}}</div>
              <div class="card__content">{{ article.content|safe}}</div>
              <div class="card__footer">
                <div class="created__date">{{ article.created_date}}</div>
              {% comment %} <div class="created__date">{{ article.created_date}}</div> {% endcomment %}
                <div class="card__actions">
                  <a href="{% url 'delete-article' article.id %}">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                  <a href="{% url 'update-article' article.id %}">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
{% else %}

    <div class="card__contaier">
      <div class="alert__warning">Not Found Article that you want </div>
    </div>

{% endif %}

     

{% endblock body %}
