{% extends "base.html" %}

    {% block page__title %}
    Detail About Article
    {% endblock page__title %}

    {% block body %}
    
{% comment %} 
    <div class="card_container">
        <ul class="card_lists">
          <li class="card">
            <h2 class="card_title">{{ article.title}}</h2>
            <p class="card_content">{{ article.content|safe}}</p>
  
            <div class="card_footer">
              <p>{{ article.created_date}}</p>
              <p>{{ article.author}}</p>
            </div>
          </li>

        </ul>
      </div> {% endcomment %}
      


      {% comment %} ************************* {% endcomment %}

<div class="card__contaier">
            <div class="card">
                    <img src="./img1.jpeg" alt="" />
                    <div class="card__title">{{article.id}}.{{article.title}}</div>
                    <div class="card__content">{{ article.content|safe}}</div>
                    <div class="card__footer">
                    <div class="created__date">{{ article.created_date}}</div>
                      <div class="card__actions">
                          <a href="">
                            <i class="fa-solid fa-trash"></i>
                          </a>
                          <a href="">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </a>
                      </div> 
                  </div>
              </div>
  </div>



      {% comment %} ************************* {% endcomment %}

    {% endblock body %}