{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'logo.png' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block custom_css %}
    <link rel="stylesheet" href="{% static './style.css' %}" />
    {% endblock custom_css %}
    <title>{% block page__title %} MY SITE {% endblock page__title %}</title>
  </head>
  <body>
    <div class="navbar">
      <div class="nav__logo"><img src="{% static 'logo.png' %}" alt="" /></div>
       
      <div class="nav__links">
        <ul >
          <div class="navbar__flags">
            <li class="flags">
                {% if request.LANGUAGE_CODE == 'az' %}
                <a class="flags_link" href="{% url 'set-language' 'en' %}">EN</a>
                {% else %}
                <a  class="flags_link" href="{% url 'set-language' 'az' %}">AZ</a>
                {% endif %}
            </li>
          </div> 
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>

          {% if request.user.is_authenticated %}
          {% comment %} <li id="dropdown">
            Meqaleler
            <i id="down__icon" class="fa-solid fa-chevron-down"></i>
            <i id="up__icon" class="fa-solid fa-chevron-up"></i>
            <ul class="dropdown__menu show">
              <li><a href="{% url 'our-blogs' %}">Our Blogs</a></li>
              <li><a href="{% url 'my-blogs'  %}">My Blogs</a></li>
            </ul>
          </li> {% endcomment %}
          <li><a href="{% url 'articles'  %}">Articles</a></li>
          <li><a href="{% url 'dashboard'  %}"><i class="fa-solid fa-user"></i></a></li>
          <li><a href="{% url 'account:logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a></li>

          {% else %}
          <li><a href="{% url 'account:login' %}">Login</a></li>
          <li><a href="{% url 'account:register' %}">Register</a></li>

          {% endif %}
        </ul>
      </div>
    </div>

    {% comment %} {% if messages %} 
      {% for message in messages %} 
        {% if message.tags == "warning" %}
        <div class="alert alert__warning">{{message}}</div>

        {% else  %}
        <div class="alert alert__success">{{message}}</div>

        {% endif %}
        {% endfor %}
    {% endif %} {% endcomment %}
    <div class="mycontainer">

     
    {% block body %} {% endblock body %}
    </div>

    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
