{% extends "base.html" %}
    {% block page__title %} 
      My Dashboard
   {% endblock page__title %}
   
  {% block body %}

    {% if messages %} 
      {% for message in messages %} 
        {% if message.tags == "warning" %}
          <div class="alert alert__warning">{{message}}</div>

        {% else  %}
          <div class="alert alert__success">{{message}}</div>

        {% endif %}
      {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="user__info">
      <h3>Welcome, <span>{{request.user.username}}</span></h3>
    </div>
    {% else %}
    <div class="user__info__login">
      <h2><a href="{% url 'account:login' %}">Sign In Please</a></h2>
    </div>


    {% endif %}

    <div class="card_container">
      <ul class="card_lists">
        {% for article in articles %}
        <li class="card">
          <h2 class="card_title">{{ article.title}}</h2>
          <p class="card_content">{{ article.content | truncatechars:85}}</p>
          <a href="{% url 'article-detail' article.id %}"><p>...</p></a>
     
          <div class="card_footer">
            <p>{{ article.created_date}}</p>
            <p>{{ article.author}}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <a href="{% url 'add-article' %}">
      <button class="btn add_btn">Add Article</button>
    </a>
    

  {% endblock body %}
