{% extends "base.html" %}


{% block page__title %}
  Home Page 
{% endblock page__title %}



{% block body %}

 {% if request.user.is_authenticated  %}
  <div class="user__info">
    <h3>Welcome <span>{{request.user.username}}</span></h3>
  </div>
  {% else %}
    <div class="user__info__login">
      <h2><a href="{% url 'account:login' %}">Sign In Please</a></h2>
    </div>
 {% endif %}






{% comment %}
<div class="articles">
  <h2>Articles:</h2>
  <ul>
    {% for article in articles %}
    <li>
      <h3>{{article.author}}</h3>
      <h4>{{article.title}}</h4>
      <p>{{article.content}}</p>
      <small>{{article.created_date}}</small>
    </li>
    <hr />
    {% endfor %}
  </ul>
</div>
{% endcomment %}

     

{% endblock body %}
