{% extends "base.html" %}

{% block page__title %}
Login Page
{% endblock page__title %}

{% block body %}
<h2>Login Page</h2>

<div class="form__container">
    {% comment %} {% if custom_error %}
        <p class="errornote">
            {{ custom_error }}
        </p>
    {% endif %} {% endcomment %}
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="btn_container">
            <button class="btn">Sign In</button>
        </div>
     </form>
</div>

{% endblock body %}