{% extends "base.html" %}
    {% block page__title %}
    Update Article
    {% endblock page__title %}

    {% block body %}
    <h1>You may update new article</h1>

    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {% comment %} {{ form.as_p }} {% endcomment %}
        <div class="addarticle__container">
            <div class="row addarticle__title">
                <label for="{{form.title.id_for_label}}">Title</label>
                <p>{{form.title}}</p>
            </div>
            <div class="row addarticle__content">
                <label for="{{form.content.id_for_label}}">Content</label>
                <p>{{form.content}}</p>
            </div>
            <div class="row updatearticle__header__img">
                <label for="{{form.image.id_for_label}}">Image</label>
                <p>{{form.image}}</p>   
            </div>
            <div class="img_container">
                {% if article.image %}
                <img class ="update_page_img"src="{{ article.image.url }}" alt="" />
                {% else %}
                <img src=""" alt="" />
                {% endif %}      
            </div>
        </div>
        <div class="updatearticle__updatebtn">
            <button class="btn-update">Update</button>
        </div> 
    </form>

    {% endblock body %}



 
